/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image-page: url("../images/cover-image-dark.png");
  --background-color-page: #000028;
  --h1-header-color: #db00ff;
  --text-selection-color: #ff0070;
  --text-dark: #000028;
  --text-ligth: #f1b2ce;
  --rec-display: block;
  --button-color: var(--text-selection-color);
  --button-color-with-opacity: rgba(255, 0, 112, 0.4);
  --decorated-zone-color: var(--text-selection-color);
}

@media ( prefers-color-scheme: dark ) {
  :root {
    --background-image-page: url("../images/cover-image-dark.png");
    --background-color-page: #000028;
    --h1-header-color: #db00ff;
    --text-selection-color: #ff0070;
    --text-dark: #000028;
    --text-ligth: #f1b2ce;
    --rec-display: block;
    --button-color: var(--text-selection-color);
    --button-color-with-opacity: rgba(255, 0, 112, 0.4);
    --decorated-zone-color: var(--text-selection-color);
  }
}